---
layout: default
title: Home
---

<div class="home">
    {% if site.posts.size > 0 %}
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-list-item">
            <h2 class="post-list-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <time class="post-list-date" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%B %d, %Y" }}
            </time>
            {% if post.excerpt %}
            <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</div>
